@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

body {
	background: #EBEBEB;
	margin: 0;

	font: normal 16px;
	font-family: 'Inter', sans-serif;
	font-weight: 100;
	line-height: 1.6em;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: white;
	font-weight: 600;
}

.container {
	width: 85%;
	margin: auto;
}

.box-title {
	background: linear-gradient(196deg, rgba(0,198,238,1) 0%, rgba(222,69,210,1) 100%);
	color: #fff;
	border-radius: 15px;

	line-height: 2em;
	
	margin-top: 9%;
	padding: 4%;
	padding-left: 9%;
}

.box-1 {
	background: linear-gradient(47deg, rgba(94,94,94,1) 0%, rgba(36,36,36,1) 100%);
	color: #fff;
	border-radius: 15px;
	
	margin-top: 9%;
	padding: 18%;
}

.box-1 h1 {
	font-family: 'Inter', sans-serif;
	font-weight: 700;
}

.box-1 p1 {
	font-family: 'Inter', sans-serif;
	font-weight: 100;
}

.box-2 {
	background: linear-gradient(297deg, rgba(189,189,189,1) 0%, rgba(215,215,215,1) 100%);
	color: #000;
	border-radius: 15px;
	
	margin-top: 9%;
	margin-bottom: 10%;
	padding: 18%;
}

.box-2 h1 {
	font-family: 'Inter', sans-serif;
	font-weight: 700;
}

.box-2 p1 {
	font-family: 'Inter', sans-serif;
	font-weight: 100;
}